.contact {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.contact-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact h3 {
    font-size: 85px;
}

.contact h3 span {
    background-color: #F0F2F5;
    background-image: linear-gradient(100deg, rgba(177,108,234,1) 0%, rgba(255,94,105,1) 38%, rgba(255,138,86,1) 78%, rgba(255,168,75,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.contact .text {
    font-size: 20px;
} 

.contact .social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}


.contact ul {
    display: flex;
    gap: 10px;
}

.contact i {
    font-size: 50px;
    color: #fff;
}

.contact .send-mail {
    width: 270px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-weight: 500;
    border-radius: 7px;
    color: #fff;
    font-size: 18px;
    transition: .3s;
    background: rgb(177,108,234);
    background: linear-gradient(100deg, rgba(177,108,234,1) 0%, rgba(255,94,105,1) 38%, rgba(255,138,86,1) 78%, rgba(255,168,75,1) 100%);
}

.contact .send-mail i {
    font-size: 20px;
}

.contact .send-mail:hover {
    transform: scale(1.02);
}

.send-mail:hover p {
    text-decoration: underline;
}

@media screen and (max-width: 645px) {
    .contact h3 {
        font-size: 55px;
    }

    .contact .text {
        font-size: 15px;
    } 
}

@media screen and (max-width: 440px) {
    .contact h3 {
        font-size: 50px;
    }

    .contact .text {
        font-size: 13px;
    } 

    .contact .send-mail {
        width: 200px;
        height: 40px;
        gap: 8px;
        font-size: 14px;
    }

    .contact .send-mail i {
        font-size: 18px;
    }

    .contact i {
        font-size: 40px;
    }
    
}