.projects {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.projects .title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 120px;
}

.projects .title-container h3 {
    margin: 0 50px;
    font-size: 50px;
}

.projects .title-container .line {
    height: 15px;
    width: 500px;
    background: rgb(177, 108, 234);
    background: linear-gradient(100deg, rgba(177, 108, 234, 1) 0%, rgba(255, 94, 105, 1) 38%, rgba(255, 138, 86, 1) 78%, rgba(255, 168, 75, 1) 100%);
}

.projects-all-container {
    height: calc(100vh - 120px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.projects-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.projects-arrow-btns {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background: rgb(177, 108, 234);
    background: linear-gradient(100deg, rgba(177, 108, 234, 1) 0%, rgba(255, 94, 105, 1) 38%, rgba(255, 138, 86, 1) 78%, rgba(255, 168, 75, 1) 100%);
}

.projects-arrow-btns i {
    font-size: 30px;
    color: #F0F2F5;
}

.projects-arrow-btns:hover {
    cursor: pointer;
    background: transparent;
    border: 3px solid #F0F2F5;
    transition: .1s;
}

.project-container {
    width: 45%;
    background: #1C1C22;
    padding: 20px 30px;
}

.project-responsive {
    display: none;
}

.project-container .img-container {
    width: 100%;
    margin-bottom: 7px;
}

.project-container .img-container img {
    width: 100%;
}

.project-container .title {
    margin-bottom: 7px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.project-container .title:hover {
    cursor: pointer;
}

.project-container .title:hover h4 {
    text-decoration: underline;
}

.project-container .title h4 {
    font-size: 30px;
    color: #F0F2F5;
}

.project-container .title i {
    width: 27px;
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0F2F5;
    color: #1C1C22;
    font-size: 18px;
    border-radius: 2px;
}

.project-bottom {
    display: flex;
    justify-content: space-between;
}

.project-technologies p {
    font-size: 14px;
}

.project-bottom button {
    display: none;
}

.projects-btn {
    width: 180px;
    height: 40px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    color: #F0F2F5;
    background: rgb(177, 108, 234);
    background: linear-gradient(100deg, rgba(177, 108, 234, 1) 0%, rgba(255, 94, 105, 1) 38%, rgba(255, 138, 86, 1) 78%, rgba(255, 168, 75, 1) 100%);
}

.projects-btn:hover {
    cursor: pointer;
    background: transparent;
    border: 3px solid #F0F2F5;
    transition: .1s;
}

@media screen and (max-width: 768px) {
    .projects .title-container h3 {
        font-size: 40px;
    }

    .projects-container {
        gap: 20px;
    }

    .projects-arrow-btns {
        width: 40px;
        height: 40px;
    }
    
    .projects-arrow-btns i {
        font-size: 20px;
    }

    .project-container .title h4 {
        font-size: 25px;
    }

    .project-technologies p {
        font-size: 12px;
    }

    .projects-btn {
        width: 150px;
        height: 35px;
        font-size: 16px;
    }
}

@media screen and (max-width: 470px) {
    .projects-all-container {
        justify-content: flex-start;
        gap: 25px;
    }

    .projects-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .projects-arrow-btns {
        display: none;
    }

    .project-responsive {
        display: block;
    }

    .project-not-responsive {
        display: none;
    }

    .project-container {
        width: 40%;
        background: #1C1C22;
        padding: 15px 25px;
    }

    .project-container .title h4 {
        font-size: 17px;
    }

    .project-container .title i {
        width: 22px;
        height: 22px;
        font-size: 12px;
    }

    .project-technologies p {
        font-size: 11px;
    }
} 

