.technologies {
    height: 100vh;
}

.technologies .title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 120px;
}

.technologies .title-container h3 {
    font-size: 50px;
}

.technologies .title-container .line {
    height: 15px;
    width: 500px;
    background: rgb(177, 108, 234);
    background: linear-gradient(100deg, rgba(177, 108, 234, 1) 0%, rgba(255, 94, 105, 1) 38%, rgba(255, 138, 86, 1) 78%, rgba(255, 168, 75, 1) 100%);

}

.technologies-container {
    height: calc(100% - 120px);
    display: grid;
    grid-template-columns: repeat(4, 160px);
    grid-template-rows: repeat(3, 160px);
    justify-content: center;
    align-content: center;

    justify-items: center;
    align-items: center;
}

@media screen and (max-width: 1400px) {
    .technologies .title-container .line {
        width: 400px;
    }
}

@media screen and (max-width: 1170px) {
    .technologies .title-container .line {
        width: 300px;
    }
}

@media screen and (max-width: 980px) {
    .technologies .title-container .line {
        width: 200px;
    }
}

@media screen and (max-width: 770px) {
    .technologies-container {
        grid-template-columns: repeat(4, 150px);
        grid-template-rows: repeat(3, 150px);
    }

    .technologies .title-container .line {
        width: 140px;
    }
    
}

@media screen and (max-width: 630px) {
    .technologies-container {
        grid-template-columns: repeat(3, 150px);
        grid-template-rows: repeat(4, 150px);
    }

    .technologies .title-container h3 {
        font-size: 40px;
    }

    .technologies .title-container .line {
        width: 100px;
    }
}

@media screen and (max-width: 485px) {
    .technologies-container {
        grid-template-columns: repeat(3, 130px);
        grid-template-rows: repeat(4, 130px);
    }

    .technologies .title-container h3 {
        font-size: 35px;
    }

    .technologies .title-container .line {
        width: 80px;
    }
}

@media screen and (max-width: 420px) {
    .technologies-container {
        grid-template-columns: repeat(2, 120px);
        grid-template-rows: repeat(5, 120px);
    }
}