@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
  font-family: 'Montserrat', sans-serif;
  background-color: #161513;
  color: #F0F2F5;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

button {
  font-family: 'Montserrat', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}